apiVersion: apps/v1
kind: Deployment
metadata:
  name: "iris-pod"
  labels:          
    app.kubernetes.io/name: {{ .Chart.Name }}   
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: iris-sa
      containers:
        - name: iris
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
      imagePullSecrets:
      - name: ecr-pull-secret

# ---- > correct variable template
# ---- > Dry run
# ---- > Deploy